<extend name="Public:base"/>
<block name="title">
修改密码
</block>
<block name="menu">
    <li class="">
        <a href="{:U('Index/index')}"><i class="icon-chevron-right"></i>仪表盘</a>
    </li>
    <li class="active">
        <a href="{:U('Index/resetPassword')}"><i class="icon-chevron-right"></i>修改密码</a>
    </li>
</block><block name="dashboard">active</block>

<block name="content">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">修改密码</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <!-- BEGIN FORM-->
                <form action="{:U('Index/reset')}" method="post" id="form_sample_1" class="form-horizontal">
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label">新密码<span class="required">*</span></label>
                            <div class="controls">
                                <input name="password" type="password" class="span6 m-wrap" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">重复密码<span class="required">*</span></label>
                            <div class="controls">
                                <input name="repeat" type="password" class="span6 m-wrap" required />
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">修改</button>
                        </div>
                    </fieldset>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
    <!-- /block -->
</block>
