<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>xxxx</title>
    <script src="public/build/style.js"></script>
</head>
<body>
    <div class="header" style="height: 400px">
        <!-- <ul class="three">
            <li><a class="learn-rule" href=""></a></li>
            <li><a class="learn-talk" href=""></a></li>
            <li><a class="do" href=""></a></li>
        </ul> -->
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><span class="active">首页</span></li>
                <li class="nav-li"><span>工作动态</span></li>
                <li class="nav-li"><span>基层行动</span></li>
                <li class="nav-li"><span>网上党校</span></li>
                <li class="nav-li"><span>学习资料</span></li>
                <li class="nav-li"><span>网络活动</span></li>
            </ul>
        </div>
    </div>
    <div class="article-page">
        <h1>这是标题啊</h1>
        <span>添加时间：2016-2-2</span><span>来源：重庆xxx</span><span>作者：案发斯蒂芬</span>
        <p class="text">
            噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，噶及偶滴个家具的破发圣诞节发哦票测试，
        </p>
        <a class="download" href="">
            <i class="iconfont">&#xe640;</i> 文件名
        </a>
    </div>
    <div class="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/web/">站点地图</a> | <a href="http://hongyan.cqupt.edu.cn/">关于红岩网校</a> | <a href="http://hongyan.cqupt.edu.cn/aboutus/">开发团队</a> | <a href="">指出错误</a> | <a href="">管理入口</a>
            <br>
            本网由红岩网校工作站负责开发、管理，不经红岩网校委员会书面同意，不得进行转载
            <br>
            地址：重庆市南岸区黄桷垭镇 重庆邮电大学 400065 Email : redrock@cqupt.edu.cn (023-62461084)
        </p>
    </div>
</body>
</html>