<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>重邮先锋网</title>
    <style>
        .unslider-nav {
            position: absolute;
            bottom: 12px;
            right: 10px;
        }
    </style>
    <script src="__PUBLIC__/build/style.js"></script>
</head>
<body>
    <div class="header">
        <ul class="three">
            <li><a class="learn-rule" href=""></a></li>
            <li><a class="learn-talk" href=""></a></li>
            <li><a class="do" href=""></a></li>
        </ul>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><span class="active">首页</span></li>
                <li class="nav-li"><span>工作动态</span></li>
                <li class="nav-li"><span>基层行动</span></li>
                <li class="nav-li"><span>网上党校</span></li>
                <li class="nav-li"><span>学习资料</span></li>
                <li class="nav-li"><span>网络活动</span></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="top">
            <div class="slider">
                <div class="slide-banner">
                    <ul>
                        <li>
                            <img src="__PUBLIC__/img/mid-banner.png" alt="" width="338px" height="260px">
                            <div class="shadow"><a href="">这是标题</a></div>
                        </li>
                        <li>
                            <img src="__PUBLIC__/img/mid-banner.png" alt="" width="338px" height="260px">
                            <div class="shadow"><a href="">这是标题</a></div>
                        </li>
                        <li>
                            <img src="__PUBLIC__/img/mid-banner.png" alt="" width="338px" height="260px">
                            <div class="shadow"><a href="">这是标题</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="latest-news">
                <h1 class="news-up"><a href="">啊搜集打工</a></h1>
                <p>这是一段测试是上司放假放假撒进房间啊is阿济格骄傲地分奥很干净哦庞大十多个平均按时分d爱打打分按时发斯蒂芬这是一段测试是上司放假放假撒进房</p>
                <h1 class="news-down"><a href="">啊搜集打工</a></h1>
                <p>这是一段测试是上司放假放假撒进房间啊is阿济格骄傲地分奥很干净哦庞大十多个平均按时大法师打发斯蒂芬啊这是一段测试是上司放假放假撒进房</p>
            </div>
            <div class="right-banners">
                <div class="banner">
                    <div class="column-title">
                        <div class="name">
                            <i class="iconfont">&#xe602;</i>
                            先进典型
                        </div>
                        <a href="" class="more">more</a>
                        <div class="border"></div>
                    </div>
                    <a href=""><img src="__PUBLIC__/img/do.png" alt="" width="220px" height="76px"></a>
                </div>
                <div class="banner">
                    <div class="column-title">
                        <div class="name">
                            <i class="iconfont">&#xe602;</i>
                            经典影像
                        </div>
                        <a href="" class="more">more</a>
                        <div class="border"></div>
                    </div>
                    <a href=""><img src="__PUBLIC__/img/do.png" alt="" width="220px" height="76px"></a>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="column column-left">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        通知公告
                    </div>
                    <a href="" class="more">more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        工作动态
                    </div>
                    <a href="" class="more">more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                </ul>
            </div>
            <div class="column column-left">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        基层行动
                    </div>
                    <a href="" class="more">more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        学习资料
                    </div>
                    <a href="" class="more">more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                    <li class="article">
                        <a href="">132</a>
                        <span class="date">5/24</span>
                    </li>
                </ul>
            </div>
        </div>
        <img src="__PUBLIC__/img/mid-banner.png" alt="" class="mid-banner" width="980px">
        <div class="bottom">
            <div class="column-title">
                <div class="name">
                    <i class="iconfont">&#xe602;</i>
                    网络活动
                </div>
                <a href="" class="more">more</a>
                <div class="border"></div>
            </div>
            <div class="activities">
                <ul>
                    <li class="wx_link">
                        <img src="" alt="" width="180px" height="180px">
                        <h3><a href="">标题</a></h3>
                    </li>
                    <li class="wx_link">
                        <img src="" alt="" width="180px" height="180px">
                        <h3><a href="">标题</a></h3>
                    </li>
                    <li class="wx_link">
                        <img src="" alt="" width="180px" height="180px">
                        <h3><a href="">标题</a></h3>
                    </li>
                    <li class="wx_link">
                        <img src="" alt="" width="180px" height="180px">
                        <h3><a href="">标题</a></h3>
                    </li>
                    <li class="wx_link">
                        <img src="" alt="" width="180px" height="180px">
                        <h3><a href="">标题</a></h3>
                    </li>
                </ul>
            </div>
        </div>
        <div class="links">
            <div class="column-title">
                <div class="name">
                    <i class="iconfont">&#xe602;</i>
                    相关链接
                </div>
                <a href="" class="more">more</a>
                <div class="border"></div>
            </div>
            <ul>
                <li class="link"><a href="">共产党员学习教育网</a></li>
                <li class="link"><a href="">七一网学习教育网</a></li>
                <li class="link"><a href="">重庆市教育系统学习教育网</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/web/">站点地图</a> | <a href="http://hongyan.cqupt.edu.cn/">关于红岩网校</a> | <a href="http://hongyan.cqupt.edu.cn/aboutus/">开发团队</a> | <a href="">指出错误</a> | <a href="">管理入口</a>
            <br>
            本网由红岩网校工作站负责开发、管理，不经红岩网校委员会书面同意，不得进行转载
            <br>
            地址：重庆市南岸区黄桷垭镇 重庆邮电大学 400065 Email : redrock@cqupt.edu.cn (023-62461084)
        </p>
    </div>
    <script src="__PUBLIC__/build/js.js"></script>
</body>
</html>