<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>重邮先锋网</title>
    <style>
        .unslider-nav {
            position: absolute;
            bottom: 12px;
            right: 10px;
        }
    </style>
    <script src="__PUBLIC__/build/style.js"></script>
</head>
<body>
    <div class="header" style="background-image:url('__PUBLIC__/img/banner.png')">
        <ul class="three">
            <li><a class="learn-rule" href="http://lxyz.12371.cn/dzdg/"  target="_blank" ></a></li>
            <li><a class="learn-talk" href="http://www.12371.cn/special/xjpzyls/xxxjpzyls/" target="_blank" ></a></li>
            <li><a class="do" href="http://lxyz.12371.cn/xjdx/" target="_blank" ></a></li>
        </ul>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li">
                    <a href="{:U('Index/index')}" style="color: #fff;">
                        <span>首页</span>
                    </a>
                </li>
                <volist name="header" id="vo">
                    <li class="nav-li">
                        <a href="<?php echo $vo['link'] != null ? $vo['link']:U('ArticleList/index', array('type_id'=>$vo['id']));  ?>" target="_blank" style="color: #fff;">
                            <span <?php echo I('get.type_id') == $vo['id']? 'class="active"':''; ?>>{$vo.column}</span>
                        </a>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="top">
            <div class="slider">
                <div class="slide-banner">
                    <ul>
                        <volist name="picshow" id="vo">
                            <li>
                                <img src="{$vo.img}" alt="" width="338px" height="260px">
                                <div class="shadow"><a href="{$vo.link}">{$vo.name}</a></div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
            <div class="latest-news">
                <volist name="recent" id="vo">
                    <h1 class="news-up"><a href="{:U('Article/index', array('id'=>$vo['id']))}" target="_blank">{$vo.title}</a></h1>
                    <p>{$vo.content}</p>
                </volist>
            </div>
            <div class="right-banners">
                <div class="banner">
                    <div class="column-title">
                        <div class="name">
                            <i class="iconfont">&#xe602;</i>
                            先进典型
                        </div>
                        <a href="http://lxyz.12371.cn/xjdx/" target="_blank" class="more">more</a>
                        <div class="border"></div>
                    </div>
                    <a href="http://lxyz.12371.cn/xjdx/" target="_blank"><img src="__PUBLIC__/img/xianjin.png" alt="" width="220px" height="76px"></a>
                </div>
                <div class="banner">
                    <div class="column-title">
                        <div class="name">
                            <i class="iconfont">&#xe602;</i>
                            经典影像
                        </div>
                        <a href="http://lxyz.12371.cn/jdyx/" target="_blank"  class="more">more</a>
                        <div class="border"></div>
                    </div>
                    <a href="http://lxyz.12371.cn/jdyx/" target="_blank" ><img src="__PUBLIC__/img/jingdian.png" alt=""  target="_blank" width="220px" height="76px"></a>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="column column-left">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        通知公告
                    </div>
                    <a href="{:U('ArticleList/index', array('type_id'=>2))}" class="more" target="_blank" >more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <volist name="articlelist.0" id="vo" >
                        <li class="article">
                            <a href="{:U('Article/index', array('id' => $vo['id']))}" target="_blank" >{:mb_substr($vo.title, 0, 34, 'utf-8')}</a>
                            <span class="date"><?php echo substr($vo['time'], 5, 5); ?></span>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="column">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        工作动态
                    </div>
                    <a href="{:U('ArticleList/index', array('type_id'=>3))}" target="_blank"  class="more">more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <volist name="articlelist.1" id="vo" >
                        <li class="article">
                            <a href="{:U('Article/index', array('id' => $vo['id']))}" target="_blank" >{$vo.title}</a>
                            <span class="date"><?php echo substr($vo['time'], 5, 5); ?></span>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="column column-left">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        基层行动
                    </div>
                    <a href="{:U('ArticleList/index', array('type_id' => 4))}" class="more" target="_blank" >more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <volist name="articlelist.2" id="vo" >
                        <li class="article">
                            <a href="{:U('Article/index', array('id' => $vo['id']))}" target="_blank" >{$vo.title}</a>
                            <span class="date"><?php echo substr($vo['time'], 5, 5); ?></span>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="column">
                <div class="column-title">
                    <div class="name">
                        <i class="iconfont">&#xe602;</i>
                        学习资料
                    </div>
                    <a href="{:U('ArticleList/index', array('type_id'=>5))}" class="more" target="_blank" >more</a>
                    <div class="border"></div>
                </div>
                <ul class="articles">
                    <volist name="articlelist.3" id="vo" >
                        <li class="article">
                            <a href="{:U('Article/index', array('id' => $vo['id']))}" target="_blank" >{$vo.title}</a>
                            <span class="date"><?php echo substr($vo['time'], 5, 5); ?></span>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <img src="__PUBLIC__/img/mid-banner.png" alt="" class="mid-banner" width="980px">
        <div class="bottom">
            <div class="column-title">
                <div class="name">
                    <i class="iconfont">&#xe602;</i>
                    网络活动
                </div>
                <a href="https://redrock.cqupt.edu.cn/lxyz_activity/" class="more" target="_blank" >more</a>
                <div class="border"></div>
            </div>
            <div class="activities">
                <ul>
                    <volist name="networkshow" id="vo">
                        <li class="wx_link">
                            <img src="{$vo.img}" alt="{$vo.name}" width="180px" height="180px">
                            <h3><a href="{$vo.link}"  target="_blank" >{$vo.name}</a></h3>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="links">
            <div class="column-title">
                <div class="name">
                    <i class="iconfont">&#xe602;</i>
                    相关链接
                </div>
                <!--<a href="" class="more">more</a>-->
                <div class="border"></div>
            </div>
            <ul>
                <li class="link"><a href="http://lxyz.12371.cn/" target="_blank" >共产党员学习教育网</a></li>
                <li class="link"><a href="http://www.12371.gov.cn/Category_1130/Index.aspx" target="_blank" >七一网学习教育网</a></li>
                <li class="link"><a href="http://www.cqedu.cn/Category_308/Index.aspx" target="_blank" >重庆市教育系统学习教育网</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/web/">站点地图</a> | <a href="http://hongyan.cqupt.edu.cn/">关于红岩网校</a> | <a  target="_blank" href="http://hongyan.cqupt.edu.cn/aboutus/">开发团队</a> | <a href="">指出错误</a> | <a  target="_blank" href="{:U('Admin/Login/index')}">管理入口</a>
            <br>
            本网由红岩网校工作站负责开发、管理，不经红岩网校委员会书面同意，不得进行转载
            <br>
            地址：重庆市南岸区黄桷垭镇 重庆邮电大学 400065 Email : redrock@cqupt.edu.cn (023-62461084)
        </p>
    </div>
    <script src="__PUBLIC__/build/js.js"></script>
</body>
</html>