<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{$articleType.column}</title>
    <script src="__PUBLIC__/build/style.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
    <div class="header" style="height: 400px;background-image:url('__PUBLIC__/img/banner.png')">
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li">
                    <a href="{:U('Index/index')}" style="color: #fff;">
                        <span>首页</span>
                    </a>
                </li>
                <volist name="header" id="vo">
                   <li class="nav-li">
                       <a href="<?php echo $vo['link'] != null ? $vo['link']:U('ArticleList/index', array('type_id'=>$vo['id']));  ?>" style="color: #fff;">
                           <span <?php echo I('get.type_id') == $vo['id']? 'class="active"':''; ?>>{$vo.column}</span>
                       </a>
                   </li>
                </volist>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="left">
            <div class="column-title">
                <div class="name">
                    <i class="iconfont">&#xe602;</i>
                    {$articleType.column}
                </div>
                <div class="border"></div>
            </div>
            <ul class="articles">
                <volist name="data" id="vo">
                    <li><a href="{:U('Article/index', array('id'=>$vo['id']))}">{$vo.title}</a></li>
                </volist>
            </ul>
            <div class="page-list">
                {$page}
                <!--<span class="prev iconfont">&#xe6df;</span><a class="active" href="">1</a><span class="next iconfont">&#xe6b4;</span>-->
            </div>
        </div>
        <div class="right">
            <div class="top">
                <a class="rule-white" href="http://lxyz.12371.cn/dzdg/"></a>
                <a class="talk-white" href="http://www.12371.cn/special/xjpzyls/xxxjpzyls/"></a>
                <a class="do-white" href="http://lxyz.12371.cn/xjdx/"></a>
            </div>
            <div class="bottom">
                <ul>
                    <a href="http://www.12371.cn/special/zggcdzc/#rudangshici"><li class="join"></li></a>
                    <a href="http://fuwu.12371.cn/2016/03/17/ARTI1458192896262994.shtml"><li class="standard"></li></a>
                    <a href="http://lxyz.12371.cn/jsjy/"><li class="educate"></li></a>
                    <a href="http://lxyz.12371.cn/xjdx/"><li class="modal"></li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/web/">站点地图</a> | <a href="http://hongyan.cqupt.edu.cn/">关于红岩网校</a> | <a href="http://hongyan.cqupt.edu.cn/aboutus/">开发团队</a> | <a href="">指出错误</a> | <a href="{:U('Admin/Login/index')}">管理入口</a>
            <br>
            本网由红岩网校工作站负责开发、管理，不经红岩网校委员会书面同意，不得进行转载
            <br>
            地址：重庆市南岸区黄桷垭镇 重庆邮电大学 400065 Email : redrock@cqupt.edu.cn (023-62461084)
        </p>
    </div>
    <script>
        $(".current").addClass("active");
    </script>
</body>
</html>