<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>xxxx</title>
    <script src="public/build/style.js"></script>
</head>
<body>
    <div class="header" style="height: 400px">
        <!-- <ul class="three">
            <li><a class="learn-rule" href=""></a></li>
            <li><a class="learn-talk" href=""></a></li>
            <li><a class="do" href=""></a></li>
        </ul> -->
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><span class="active">首页</span></li>
                <li class="nav-li"><span>工作动态</span></li>
                <li class="nav-li"><span>基层行动</span></li>
                <li class="nav-li"><span>网上党校</span></li>
                <li class="nav-li"><span>学习资料</span></li>
                <li class="nav-li"><span>网络活动</span></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="left">
            <div class="column-title">
                <div class="name">
                    <i class="iconfont">&#xe602;</i>
                    学党章党规
                </div>
                <div class="border"></div>
            </div>
            <ul class="articles">
                <li><a href="">标题</a></li>
                <li><a href="">标题</a></li>
                <li><a href="">标题</a></li>
            </ul>
            <div class="page-list">
                <span class="prev iconfont">&#xe6df;</span><a class="active" href="">1</a><span class="next iconfont">&#xe6b4;</span>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <a class="rule-white" href=""></a>
                <a class="talk-white" href=""></a>
                <a class="do-white" href=""></a>
            </div>
            <div class="bottom">
                <ul>
                    <a href=""><li class="join"></li></a>
                    <a href=""><li class="standard"></li></a>
                    <a href=""><li class="educate"></li></a>
                    <a href=""><li class="modal"></li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/web/">站点地图</a> | <a href="http://hongyan.cqupt.edu.cn/">关于红岩网校</a> | <a href="http://hongyan.cqupt.edu.cn/aboutus/">开发团队</a> | <a href="">指出错误</a> | <a href="">管理入口</a>
            <br>
            本网由红岩网校工作站负责开发、管理，不经红岩网校委员会书面同意，不得进行转载
            <br>
            地址：重庆市南岸区黄桷垭镇 重庆邮电大学 400065 Email : redrock@cqupt.edu.cn (023-62461084)
        </p>
    </div>
</body>
</html>